## Project 2- MISY408

This dataset includes quantitative and categorical features from Google Play Store Apps. In this dataset, each row represents one App and its features.

**Question 1: In the following, type a code to create a DataFrame from a GoogleApp CSV File (name the dataframe df). Then use head() to display the first 6 rows of the df**

In [2]:
import pandas as pb

df = pb.read_csv('GoogleApp.csv')
df.head(6)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Android Ver
0,Video Downloader For FB: Save FB Videos 2018,TOOLS,4.3,434,3.6M,50000,Free,0,Everyone,Tools,8-Aug-18,4.0.3 and up
1,Shoot Hunter-Gun Killer,GAME,4.3,320334,27M,50000000,Free,0,Teen,Action,8-Aug-18,4.1 and up
2,Lalafo Pulsuz Elanlar,SHOPPING,4.4,61392,Varies with device,1000000,Free,0,Everyone,Shopping,8-Aug-18,Varies with device
3,Fast Tract Diet,HEALTH_AND_FITNESS,4.4,35,2.4M,1000,Paid,$7.99,Everyone,Health & Fitness,8-Aug-18,4.2 and up
4,BankNordik,FINANCE,3.9,28,15M,5000,Free,0,Everyone,Finance,8-Aug-18,5.0 and up
5,Sygic Car Navigation,MAPS_AND_NAVIGATION,4.7,162049,48M,5000000,Free,0,Everyone,Maps & Navigation,7-Aug-18,4.4 and up

**Question 2: In the following, type a code to display the number of rows and columns of the df**

In [95]:
df.shape

(9365, 12)

**Question 3: In the following, type a code to display the list of columns in the df**

In [96]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Android Ver'],
      dtype='object')

**Question 4: In the following, type a code to sort  df dataframe by 'Rating' in  Descending order and  by Installs in  Descending order and save it to df2 ( It should sort df first by Rating and second by Installs). Then, use head() to display the first 5 rows in df2**

In [97]:
df2 = df.sort_values(['Rating', 'Installs'], ascending=[False, False])
df2.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Android Ver
7439,Ek Bander Ne Kholi Dukan,FAMILY,5.0,10,3.0M,10000,Free,0,Everyone,Entertainment,26-Jun-17,4.0 and up
1275,"Superheroes, Marvel, DC, Comics, TV, Movies News",COMICS,5.0,34,12M,5000,Free,0,Everyone,Comics,31-Jul-18,5.0 and up
4396,CL Keyboard - Myanmar Keyboard (No Ads),TOOLS,5.0,24,3.2M,5000,Free,0,Everyone,Tools,13-Jun-18,4.3 and up
7149,Oración CX,LIFESTYLE,5.0,103,3.8M,5000,Free,0,Everyone,Lifestyle,12-Sep-17,4.1 and up
29,"FD Calculator (EMI, SIP, RD & Loan Eligilibility)",FINANCE,5.0,104,2.3M,1000,Free,0,Everyone,Finance,7-Aug-18,4.1 and up

**Question 5: In the following, type a code to sort df dataframe by 'Rating' in ascending order and save it to df2. Then, use slicing to subset the first 6 rows of 'App', 'Category', 'Rating', and 'Type' columns of df2**

In [4]:
df2 = df.sort_values('Rating', ascending = True)
df2

df2[['App','Category','Rating','Type']][:6]

                                 App Category  Rating  Type
1869  FE Mechanical Engineering Prep   FAMILY     1.0  Free
7617                   Clarksburg AH  MEDICAL     1.0  Free
1374         House party - live chat   DATING     1.0  Free
5790                  DS Creator 2.0    TOOLS     1.0  Free
7328            Tech CU Card Manager  FINANCE     1.0  Free
8046                          MbH BM  MEDICAL     1.0  Free

**Question 6: In the following, sort df dataframe by 'Category' in the descending order and save it to df2. Then,  use .iloc method to subset the first 6 rows of 'App', 'Category', 'Rating', and 'Reviews' columns of df2 dataframe, create a deep copy of it and save it to df3. Finally, display df3 in the output**

In [99]:
df2 = df.sort_values('Category', ascending = False)
df3 = df2.iloc[:6,:4].copy()
df3

,App,Category,Rating,Reviews
198,Weather –Simple weather forecast,WEATHER,4.4,40606
9122,GO Weather EX Theme White,WEATHER,4.2,8723
8911,DS Thermometer,WEATHER,3.7,631
2356,Yandex.Weather,WEATHER,4.5,309617
8937,Florida Tides & Weather,WEATHER,3.8,30
989,The Weather Channel: Rain Forecast & Storm Alerts,WEATHER,4.4,1558437

**Question 7: In the following, use .loc method to subset the df dataframe to show 'App', 'Category', 'Rating' columns  with these conditions:  'Category' is FAMILY and 'Rating' is less than or equal to 5, create a deep copy of df, and save it in df2. Use head() to display the first 5 rows of df2**

In [5]:
df2 = df.loc[(df['Category'] == 'FAMILY') & (df['Rating'] <= 5), ['App','Category','Rating']].copy() 
df2.head()

                                                  App Category  Rating
8             Scanner Radio - Fire and Police Scanner   FAMILY     4.4
13  Plastic Surgery Surgeon Simulator Er Doctor Games   FAMILY     3.7
19  Masha and The Bear Jam Day Match 3 games for kids   FAMILY     4.6
22  Lifeguard Beach Rescue ER Emergency Hospital G...   FAMILY     3.9
25                       Hello English: Learn English   FAMILY     4.6

**Question 8: In the following, create a subset of 'App', 'Category', 'Rating', and 'Installs' columns of df dataframe and save it to df2. Then, use query() function to filter the df2 dataframe based on three conditions: Category is "TOOLS', Rating is greater or equal to 5, and Installs is less than or equal to 500 and save it to df3. Use head() to display the first 5 rows of df3.**

In [6]:
df2 = df[['App','Category','Rating','Installs']]
df3 = df2.query('Category=="TOOLS" & Rating >= 5 & Installs <=500')
df3.head()

                        App Category  Rating  Installs
2022   Easy Hotspot Ad Free    TOOLS     5.0        10
3116          BM speed test    TOOLS     5.0        10
3407              CZ Kompas    TOOLS     5.0        10
4628  CR Tracker for Chests    TOOLS     5.0        50
4821               CE Smart    TOOLS     5.0       100

**Question 9: In the following, type a code to create a boolean column 'HighRating' in the df dataframe. The 'HighRating' has the value of True if 'Rating' is greater than or equal to 4. Otherwise, its value is False. Create a subset of 'Rating' and 'HighRating' columns in the df dataframe and save it to df2. Use head() to display the first 5 rows of df2**

In [7]:
df['HighRating'] = df['Rating'] >= 4
df2 = df[['Rating','HighRating']]
df2.head()

   Rating  HighRating
0     4.3        True
1     4.3        True
2     4.4        True
3     4.4        True
4     3.9       False

**Question 10: Use .loc and conditional to create a new column 'RatingCategory' in the df datafarme . If Rating is less than 4, we will code it as 'Low'.  If Rating is greater than or equal to 4, we will code it as 'High'.**
* **use Slicing to show the first 5 rows of 'Rating' and 'RatingCategory' columns in the output.**

In [8]:
df['RatingCategory'] = 'Low'
df.loc[df['Rating'] >=4, 'RatingCategory'] = 'High'
df[['Rating','RatingCategory']].head()

   Rating RatingCategory
0     4.3           High
1     4.3           High
2     4.4           High
3     4.4           High
4     3.9            Low

**Question 11: In the following, type a code that counts the number of apps for each 'Category'  in the df dataftame and save it to df2. Then, use head() to display the first 5 rows in df2**

In [9]:
df2 = df['App'].value_counts()
df2.head()

ROBLOX                                               9
CBS Sports App - Scores, News, Stats & Watch Live    8
ESPN                                                 7
Candy Crush Saga                                     7
Duolingo: Learn Languages Free                       7
Name: App, dtype: int64

**Question 12: In the following, type a code to calculate the average 'Rating' for each 'Category' in the df dataframe and save it to df2. Use head() to display the first 5 rows in df2**

In [10]:
df2 = df['Rating'].groupby(df['Category']).mean()
df2.head()

Category
ART_AND_DESIGN         4.358065
AUTO_AND_VEHICLES      4.190411
BEAUTY                 4.278571
BOOKS_AND_REFERENCE    4.346067
BUSINESS               4.121452
Name: Rating, dtype: float64

**Question 13: In the following,  type a code to calculate the average 'Rating' and average 'Reviews' for each 'Category' in the df dataframe and save it in df2. Then, use head() to display the first 5 rows of df2**  
(Your output  should display average 'Rating' and average 'Reviews' for each 'Category' in **one table**.)

In [106]:
df2 = df[['Rating', 'Reviews']].groupby(df['Category']).mean()
df2.head()

                       Rating        Reviews
Category
ART_AND_DESIGN       4.358065   27651.161290
AUTO_AND_VEHICLES    4.190411   15940.136986
BEAUTY               4.278571    9407.928571
BOOKS_AND_REFERENCE  4.346067  123363.258427
BUSINESS             4.121452   46053.089109

**Question 14: In the following type the code that shows the unique values in the 'Category' columns in df dataframe.**

In [11]:
df['Category'].unique()

array(['TOOLS', 'GAME', 'SHOPPING', 'HEALTH_AND_FITNESS', 'FINANCE',
       'MAPS_AND_NAVIGATION', 'PERSONALIZATION', 'LIFESTYLE', 'FAMILY',
       'SPORTS', 'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'SOCIAL',
       'WEATHER', 'COMMUNICATION', 'BUSINESS', 'PARENTING', 'PHOTOGRAPHY',
       'TRAVEL_AND_LOCAL', 'PRODUCTIVITY', 'BOOKS_AND_REFERENCE',
       'FOOD_AND_DRINK', 'MEDICAL', 'BEAUTY', 'HOUSE_AND_HOME',
       'ENTERTAINMENT', 'DATING', 'EDUCATION', 'AUTO_AND_VEHICLES',
       'ART_AND_DESIGN', 'EVENTS', 'COMICS', 'LIBRARIES_AND_DEMO'],
      dtype=object)