## Project 1 - MISY408

**Assume we have the following string:**

In [52]:
# Run this code
s='This is MISY408 class'

**Question 1: In the following, Type a code to return the first seven characters from string s**

In [53]:
s[:7]

'This is'

**Question 2: In the following, Type a code to return 'MISY408 class' from string s**

In [54]:
s[8:]

'MISY408 class'

**Question 3: In the following, type a code to concatenate string s with another string to return the following string in the output:**
    
'This is MISY408 class in Fall 2022'

In [55]:
print(f'{s}' + ' in Fall 2022')

This is MISY408 class in Fall 2022

**Question 4: In the following, Type a code to return the length of string s**

In [56]:
len(s)

21

**Assume we have the following list:**

In [57]:
# Run this code
my_list = ['MISY408', 'Spring', 2022, 'Python', 50, 'UD']

**Question 5: In the following, Type a code to replace 'Spring' with 'Fall' in my_list. Then, dispaly my_list in the output**

In [58]:
my_list[1] = 'Fall'
print(my_list)

['MISY408', 'Fall', 2022, 'Python', 50, 'UD']

**Question 6: In the following, Type a code to return ['Fall', 2022, 'Python'] from my_list**

In [59]:
my_list[1:4]

['Fall', 2022, 'Python']

**Question 7: In the following, Type a code to return ['MISY408', 2022, 50] from my_list**

In [60]:
my_list[::2]

['MISY408', 2022, 50]

**Question 8: In the following, Type a code to add 'College of Business' at the end of my_list. Then, dispaly my_list in the output**

In [61]:
my_list.insert(6,'College of Business')

my_list

['MISY408', 'Fall', 2022, 'Python', 50, 'UD', 'College of Business']

**Question 9: Create dictionary my_dict with three keys (name, last name, and interests). The first key's value should be 'John', the second key's value should be 'Smith', the third key's value should be ['painting', 'swimming', 'hiking']. Then, dispaly my_dict in the output**

In [62]:
my_dict = {'name' : 'John', 'last name' : 'Smith', 'interests' : ['painting', 'swimming', 'hiking']}

my_dict

{'name': 'John',
 'last name': 'Smith',
 'interests': ['painting', 'swimming', 'hiking']}

**Question 10:  In the following, Type a code to return third key's value from my_dict**

In [63]:
my_dict['interests']

['painting', 'swimming', 'hiking']

**Question 11: In the following, Type a code to replace first key's value with 'Jack'. Then, dispaly my_dict in the output.**

In [64]:
my_dict['name'] = 'Jack'

my_dict

{'name': 'Jack',
 'last name': 'Smith',
 'interests': ['painting', 'swimming', 'hiking']}

**Question 12: In the following, type a code that returns the second interest from the interests list in my-dict dictionary**

In [65]:
my_dict['interests'][1]

'swimming'

**Suppose we have the following dictionary:**

In [69]:
# run this code

students  = {
    'Ryan': ['M', 20, 3.45],
    'Mary': ['F', 21, 2.96],
    'Sarah': ['F', 18, 3.95],
    'Mark': ['M', 19, 3.54]
}


**Question 13: In the following, type a code to remove Mark and its values from the dictionary. Then, display the dictionary in the output.**

In [70]:
students.pop('Mark')

students

{'Ryan': ['M', 20, 3.45], 'Mary': ['F', 21, 2.96], 'Sarah': ['F', 18, 3.95]}

**Assume we have the following code:**

In [71]:
# Run this code
a=93
b= 'A'
c='MISY408'

**Question 14: In the following, Type a code to print the following** (make sure to use placeholders and **format** method to print the phrase):

        If your grade is 93 or above, you'll get an A in MISY408.

In [72]:
int(a)
print("If your grad is {} or above, you'll get an {} in {}.". format(a, b, c))

If your grad is 93 or above, you'll get an A in MISY408.

**Assume we have the following Code:**

In [73]:
# Run this code
list1=[12,13,17,19,22,27,28,50]

**Question 15: In the following, Type a code to print the odd numbers in list1 (odd numbers are the numbers that are not divisible by 2).**

In [74]:
for a in list1:
    if a%2==1:
        print(a)

13
17
19
27

**Assume we have the following code:**

In [78]:
# Run this code
a=3.5
b=125

**Question 16: In the followng, Type a If statement that compares a and b. If a and b are equal, the output should diplay "a and b are equal". Otherwise, the output should display " and and b are not equal"**

In [79]:
if a == b:
    print('a and b are equal.')
else:
    print('a and b are not equal.')

a and b are not equal.